<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fxmSanitizeExternalContent>
     <!--You can add as many regular expressions as you need to. In the configuration below, I added a regular expression (thanks Andy Uzick for the help) to strip out any script that contained the words "adobetm".
      <sanitizeRegex value="&lt;script[^&lt;]*(adobedtm)[\s\S]*?&lt;/script&gt;"/>-->
    </fxmSanitizeExternalContent>
    <pipelines>
      <group groupName="FXM" name="FXM">
        <pipelines>
          <content.experienceeditor>
            <processor patch:after="processor[@type='Sitecore.FXM.Client.Pipelines.ExperienceEditor.ExternalPage.GetExternalPageContentProcessor, Sitecore.FXM.Client']"
                       type="Arke.Sitecore.FXM.Client.Pipelines.ExperienceEditor.ExternalPage.SanitizeContent, Arke.Sitecore.FXM.Client" />
          </content.experienceeditor>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
